.info {
    @extend %spread;
    position: absolute;
    background-image: url(../img/backgrounds/bg-info.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-size: 6px;

    @media only screen and (min-width: 600px) {
        font-size: 7px;
    }

    @media only screen and (min-width: 1000px) {
        font-size: 8px;
    }

    @media only screen and (min-width: 1200px) {
        font-size: 10px;
    }

    .headlines {
        @extend %absolute-center;
        width: 90%;
        max-width: 900px;
    }

    .headline {

        padding-bottom: 4.5em;

        &:last-child {
            padding-bottom: 0;
        }

        h4 {
            font-family: $Montserrat;
            font-size: 1.9em;
            line-height: 1.8em;
            color: #8c9397;
            opacity: 0.65;
            text-transform: uppercase;
            margin: 0;
        }

        a {
            display: inline-block;
            margin-top: 1em;
            padding: 0 0.5em;
            font-family: $LincolnSemiBoldItalic;
            font-size: 3.7em;
            line-height: 1.8;
            color: $white;
            text-decoration: underline;
            opacity: 0.9;
            @include transition(color 0.3s 0s $ease-in-out);

            @media only screen and (min-width: 600px) {
                padding: 0 0.8em;
            }

            @media only screen and (min-width: 1000px) {
                padding: 0 1em;
            }

            @media only screen and (min-width: 1200px) {
                padding: 0 1.5em;
            }

            &:hover {
                color: $red;
            }
        }
    }
}