<div class="wrapper">
    <div class="content">
        <figure>
            <div class="overlay"></div>
            <img src="/img/artwork/{{type}}/{{image}}" srcset="/img/artwork/{{type}}/{{image}} 1x, /img/artwork/{{type}}/{{image2x}} 2x" alt="{{type}} painting by Chris Petersen">
            <div class="meta">

                {{#if hasExternalUrl}}
                <h4 class="desc">{{width}} x {{height}}</h4>
                <h1>{{title}}</h1>
                <h4 class="desc">{{material}} <span>x</span> {{date}} <span>x</span><a class="inquire" href="{{externalUrl}}" target="_blank">{{linkText}}</a></h4>
                    
                {{else}}
                <h4 class="desc">{{width}} x {{height}}</h4>
                <h1>{{title}}</h1>
                <h4 class="desc">{{material}} <span>x</span> {{date}} <span>x</span><a class="inquire" href="{{mailto}}">{{linkText}}</a></h4>
                {{/if}}

            </div>
        </figure>
    </div>
</div>