<div class="wrapper">
    <div class="content">
        <figure>
            <div class="overlay"></div>
            <img src="/img/artwork/{{type}}/{{image2x}}" alt="{{type}} painting by Chris Petersen">
            <div class="meta">
                <h4>{{width}} x {{height}}</h4>
                <h1>{{title}}</h1>
                <h4>{{material}} <span>x</span> {{date}} <span>x</span> <a href="mailto:chris@whileimstillhere.com">inquire</a></h4>
            </div>
        </figure>
    </div>
</div>