<div class="headlines">
    <div class="headline">
        <h4>{{infoData.headlineOneTitle}}</h4>
        <a href="{{infoData.headlineOneLink}}">{{infoData.headlineOneInfo}}</a>
    </div>
    <div class="headline">
        <h4>{{infoData.headlineTwoTitle}}</h4>
        <a href="mailto:{{infoData.headlineTwoLink}}">{{infoData.headlineTwoLink}}</a>
    </div>
    <div class="headline">
        <h4>{{infoData.headlineThreeTitle}}</h4>
        <a href="{{infoData.headlineThreeLinkOneLink}}">{{infoData.headlineThreeLinkOneInfo}}</a>
        <a href="{{infoData.headlineThreeLinkTwoLink}}">{{infoData.headlineThreeLinkTwoInfo}}</a>
        <a href="{{infoData.headlineThreeLinkThreeLink}}">{{infoData.headlineThreeLinkThreeInfo}}</a>
    </div>
</div>