.grid {
    margin: 0 auto;
    padding: 15px 10px 0 10px;
    width: 100%;
    @include transition(transform 0.6s 0.6s $ease-out-cubic);

    .header-nav-showing & {
        @include translate3d(0, 42px, 0);
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.column {
    float: left;
    width: 100%;

    .grid &:last-of-type {
        padding-right: 0;
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    .item {
        width: 100%;
        padding: 10px 0;
        opacity: 0;

        @include transform-style(preserve-3d);
        @include transition(opacity 0.6s $ease-in-out);

        @media only screen and (min-width: 480px) {
            padding: 10px;
        }

        @media only screen and (min-width: 768px) {
            padding: 10%;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        .title-card-showing & {
            opacity: 0;
        }

        &.is-animating-down {
            @include animation(slideDownOutGrid, 0.8s, 0s, $ease-in-quart, 1, forwards);
        }

        &.animate-in {
            @include animation(slideUpIn, 0.8s, 0s, $ease-out-quart, 1, forwards);
        }

        &.show-meta {

            .overlay, .meta {
                opacity: 1;
                pointer-events: auto;
            }

            h4 {
                opacity: 1;
                @include transition(opacity 1.0s 0.4s $ease-in-out);
            }

            h1 {
                @include animation(detailTitle, 1s, 0s, $ease-out-cubic, 1, forwards);
                @include transition(opacity 0.5s 0s $ease-in-out);
            }

            figure {
                .no-touch &:hover {
                    cursor: url(../img/cursor/minimize-cursor.svg), auto;
                }
            }
        }

        .overlay {
            @extend %spread;
            background-color: rgba($black, 0.6);
            opacity: 0;
            @include transition(opacity 0.5s 0s $ease-in-out);
            pointer-events: none;
        }

        .meta {
            @extend %absolute-center;
            width: 100%;
            text-align: center;
            opacity: 0;
            pointer-events: none;
            @include transition(opacity 1s 0s $ease-in-out);

            @media only screen and (min-width: 480px) {
                width: 200%;
            }
        }

        h1 {
            margin: 20px 0;
            text-transform: uppercase;
            pointer-events: none;
            // opacity: 0;
            font-size: 4em;
            @include transition(opacity 1s 0s $ease-in-out);
            // @include transition(opacity 0.5s 0s $ease-in-out);
        }

        h4 {
            color: $grayDark;
            opacity: 0;
            font-size: 14px;
            @include transition(opacity 1s 0s $ease-in-out);
            // @include transition(opacity 0.5s 0s $ease-in-out);
            a {
                color: $grayDark;
            }
        }

        .inquire {
            @extend .h4;
            color: $red;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: underline;
            @include transition(color 0.3s 0s linear);

            .no-touch &:hover {
                color: $white;
            }
        }

        @media only screen and (min-width: 480px) {
            h4 {
                font-size: 1.9em;
                margin: 11px 0;

                .inquire {
                    font-size: 19px;
                }
            }

            h1 {
                font-size: 10em;

            }
        }

        span {
            position: relative;
            top: -2px;
            font-size: 0.9em;
            color: #5a5e60;
        }
    }

    figure {
    }

    img {
        width: 100%;
        outline: rgb(217, 217, 217) solid 0px;
        @include transition(outline 0.6s $ease-custom);
    }
}


.no-touch .column .item {
    &:hover img {
        outline: $red solid 20px;
    }
}